///////////////////////////////////////
// COLOR VARIABLES
$color-red: #c60813;
$color-white: #ffffff;
$color-black: #010101;
$color-grey-light-1: #e4e4e4;
$color-grey-light-2: #f7f7f7;
$color-grey-medium-1: #e8e8e8;
$color-grey-medium-2: #adacac;
$color-grey-medium-3:#969696;
$color-grey-medium-4: #858282;
$color-grey-dark:#4e4c4c;

///////////////////////////////////////
// MEDIA QUERY MANAGER
/*
0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tablet landscape
1200-1800px: is where our normal styles apply  
1800px +:   Big desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/

@mixin respond($breakpoint) {

    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px, 10px/16px=62.5%

    @include respond(big-desktop) {
        font-size: 70%;
    }
}

body {
    background: $color-grey-light-1;
    color: $color-black;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;

}