.header {

    ///////////////////////////////////////
    //MENUBAR
    &__menu {
        color: $color-grey-medium-2;

        &-bar {
            list-style: none;

            &-item {
                cursor: pointer;
            }
        }
    }
}

.content {
    &__header-search {
        &--title {
            // border: 1px solid green;
            font-size: 2.8rem;
            font-weight: 900;
            align-self: center;

        }

        &--input {
            // border: 2px solid green;
            input{
                border: 1.5px solid $color-grey-medium-1;
                border-radius: 2px;
                padding-left: 4rem;
            }
            ::placeholder {
                color: $color-grey-medium-2;
                 /* Firefox */
              }
              
              :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color: $color-grey-medium-2;
              }
              
              ::-ms-input-placeholder { /* Microsoft Edge */
               color: $color-grey-medium-2;
              }

              button{
                  cursor: pointer;
              }
        }
    }
}

.icon {
    &__input {
        // margin-right: -3rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-grey-medium-2;
        
        // -webkit-mask: url(/src/img/icon/search.svg) no-repeat;
    }
}