.container {
    -webkit-box-shadow: -1px 2px 5px -5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: -1px 2px 5px -5px rgba(0, 0, 0, 0.9);
    box-shadow: -1px 2px 5px -5px rgba(0, 0, 0, 0.9);
}

.header {

    ///////////////////////////////////////
    //MENUBAR
    &__menu {
        color: $color-grey-medium-2;

        &-bar {
            list-style: none;
            font-weight: bold;

            &-item {
                cursor: pointer;
            }
        }
    }
}

.content {
    &__header {
        &-search {
            &--title {
                font-size: 2.7rem;
                font-weight: bold;
                align-self: center;

            }

            input {
                width: 20rem;
                height: 3.5rem;
                margin-right: 4.5rem;
            }

            &--input {

                input {
                    border: 1.5px solid $color-grey-medium-1;
                    border-radius: 2px;
                    padding-left: 4rem;
                }

                ::placeholder {
                    color: $color-grey-medium-2;
                    /* Firefox */
                }

                :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: $color-grey-medium-2;
                }

                ::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: $color-grey-medium-2;
                }


            }

            button {
                width: 15rem;
                height: 3.5rem;
                color: $color-white;
                background: $color-grey-dark;
                font-weight: bold;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                padding-left: 2.5rem;

            }
        }

        &-filter {
            font-size: 1.3rem;

            &--type {
                p {
                    font-weight: bold;
                }
            }

            &-table {
                list-style: none;

                &--element {
                    cursor: pointer;
                    color: $color-grey-medium-3;
                }
            }

            &--opties {}

            &-active {
                color: $color-black;
                font-weight: bold;
            }
        }
    }

    &__dataview {
        &-relaties {

            &--table {
                font-size: 1.2rem;
                text-align: left;

                &,
                th,
                td {
                    border-collapse: collapse;
                }

                th,
                td {
                    padding: 1rem 0 1rem 3rem;

                    &:first-child {
                        width: 28%;
                    }
                }

                tr {
                    cursor: pointer;

                    &:not(:last-child) {
                        border-bottom: 1.5px solid $color-grey-medium-1;
                    }
                }

                th {
                    color: $color-grey-medium-3;
                    font-weight: normal;
                }
            }

            &--active {
                background: $color-grey-medium-1;
            }
        }

        &-details {
            &--header {
                h2 {
                    font-size: 1.8rem;
                }
            }

            &--contact {
                padding: 0 3rem;

                &--table {

                    font-size: 1.2rem;
                    text-align: left;

                    &,
                    th,
                    td {
                        border-collapse: collapse;
                        // border: 1.5px solid blue;
                    }

                    th,
                    td {
                        padding: 1rem 1rem 0 0;

                        &:first-child {
                            width: 60%;
                        }
                    }

                    th {
                        color: $color-grey-medium-3;
                        font-weight: normal;
                    }

                    td {
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                }
            }

            &--processes {
                padding: 1rem 3rem;

                &--table {
                    font-size: 1.2rem;

                    th,
                    td {
                        text-align: left;

                        &:last-child {
                            text-align: right;
                        }
                    }

                    &,
                    th,
                    td {
                        border-collapse: collapse;
                    }

                    th,
                    td {
                        padding: 1rem 0 1rem 0;
                    }

                    tr {
                        border-bottom: 1.5px solid $color-grey-medium-1;
                    }

                    th {
                        color: $color-grey-medium-3;
                        font-weight: normal;
                    }

                    .statusprocess {
                        display: none;
                        width: 1rem;
                        height: 1rem;
                        margin-right: .5rem;
                        fill: $color-black;
                    }
                }
            }

            &--otherinfo {
                cursor: pointer;

                p {
                    color: $color-grey-medium-3;
                    font-size: 1.22rem;
                }
            }
        }
    }
}

.icon {
    &__input {
        position: relative;
        margin-right: -3rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-grey-medium-2;
    }

    &__plus {
        position: relative;
        margin-right: -3.5rem;
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-white;
        stroke: $color-white;
        stroke-width: 1;
    }
}

.info-titles {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-grey-medium-3;
}