.container {
    -webkit-box-shadow: -1px 2px 5px -5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: -1px 2px 5px -5px rgba(0, 0, 0, 0.9);
    box-shadow: -1px 2px 5px -5px rgba(0, 0, 0, 0.9);
}

.header {

    ///////////////////////////////////////
    // MENUBAR
    &__menu {
        color: $color-grey-medium-2;

        &-bar {
            list-style: none;
            font-weight: bold;

            &-item {
                cursor: pointer;
                transition: all .3s;

                &--active {
                    color: $color-white;
                }

                &:hover {
                    border-bottom: 1px solid $color-white;
                    color: $color-white;
                }
            }
        }
    }
}

.content {
    &__header {
        @include respond(tab-land) {
            margin-top: 1rem;
        }

        &-search {

            ///////////////////////////////////////
            // CONTENT - TITLE, INPUT, BUTTON
            &--title {
                font-size: 2.7rem;
                font-weight: bold;
                align-self: center;

                @include respond(tab-land) {
                    align-self: flex-start;

                }

                @include respond(phone) {
                    margin-bottom: 1.5rem;
                }
            }

            &--input {
                @include respond(tab-land) {
                    margin-bottom: 1rem;
                }

                input {
                    font-family: inherit;
                    color: inherit;
                    width: 35%;
                    height: 3.5rem;
                    margin-right: 4.5rem;
                    border: 1.5px solid $color-grey-medium-1;
                    border-radius: 2px;
                    padding-left: 4rem;
                    transition: all .3s;

                    @include respond(tab-land) {
                        position: absolute;
                    }

                    @include respond(phone) {
                        position: relative;
                        width: 100%;
                        margin-right: 0;
                    }

                    &:focus {
                        outline: none;
                        width: 45%;
                        background-color: $color-grey-light-2;

                        @include respond(tab-land) {
                            width: 40%;
                        }
                    }
                }

                ::placeholder {
                    color: $color-grey-medium-2;
                    /* Firefox */
                }

                :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: $color-grey-medium-2;
                }

                ::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: $color-grey-medium-2;
                }
            }

            &--button {
                width: 15rem;
                height: 3.5rem;
                color: $color-white;
                background: $color-grey-dark;
                font-weight: bold;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                padding-left: 2.5rem;
                transition: all .3s;

                &:hover {
                    background-color: $color-grey-medium-4;
                }

                &:focus {
                    outline: none;
                }

                @include respond(phone) {
                    margin-top: 1.5rem;
                }
            }
        }

        ///////////////////////////////////////
        // CONTENT - FILTER OPTIONS

        &-filter {
            font-size: 1.3rem;

            &--type {
                p {
                    font-weight: bold;

                    @include respond(phone) {
                        display: none;
                    }
                }
            }

            &-table {
                list-style: none;

                &--element {
                    cursor: pointer;
                    color: $color-grey-medium-3;
                    transition: all .3s;

                    &:hover {
                        text-decoration: underline;
                        color: $color-black;
                    }
                }
            }

            &-active {
                color: $color-black;
                font-weight: bold;
            }
        }
    }

    &__dataview {

        ///////////////////////////////////////
        // CONTENT DATA - RELATIONS TABLE
        &-relaties {

            &--table {
                font-size: 1.2rem;
                text-align: left;

                &,
                th,
                td {
                    border-collapse: collapse;
                }

                th,
                td {
                    padding: 1rem 0 1rem 3rem;

                    &:first-child {
                        width: 28%;
                    }
                }

                tr {

                    transition: all .3s;

                    &:not(:first-child) {
                        cursor: pointer;
                    }

                    &:not(:last-child) {
                        border-bottom: 1.5px solid $color-grey-medium-1;
                    }

                    &:not(:first-child):hover {
                        background: $color-grey-medium-1;
                        ;
                    }
                }

                th {
                    cursor: pointer;
                    color: $color-grey-medium-3;
                    font-weight: normal;
                }

            }

            &--active {
                background: $color-grey-medium-1;
            }
        }

        ///////////////////////////////////////
        // CONTENT DATA - RELATIONS DETAILS PAGE

        &-details {
            &--header {
                h2 {
                    font-size: 1.8rem;
                }
            }

            &--contact {
                padding: 0 3rem;

                &--table {

                    font-size: 1.2rem;
                    text-align: left;

                    &,
                    th,
                    td {
                        border-collapse: collapse;

                    }

                    th,
                    td {
                        padding: 1rem 1rem 0 0;

                        &:first-child {
                            width: 60%;
                        }
                    }

                    th {
                        color: $color-grey-medium-3;
                        font-weight: normal;
                    }

                    td {
                        font-size: 1.6rem;
                        font-weight: bold;

                        @include respond(tab-port) {
                            font-size: 1.2rem;
                        }

                    }
                }
            }

            &--processes {
                padding: 1rem 3rem;

                &--table {
                    font-size: 1.2rem;

                    th,
                    td {
                        text-align: left;

                        &:last-child {
                            text-align: right;
                        }
                    }

                    &,
                    th,
                    td {
                        border-collapse: collapse;
                    }

                    th,
                    td {
                        padding: 1rem 0 1rem 0;
                    }

                    tr {
                        border-bottom: 1.5px solid $color-grey-medium-1;
                    }

                    th {
                        color: $color-grey-medium-3;
                        font-weight: normal;
                    }

                    .statusprocess {
                        display: none;

                        &--pending {
                            display: inline-block;
                            /* width: 1rem;
                            height: 1rem; */
                            margin-right: .5rem;
                            color: $color-black;
                            font-size: .8rem;
                        }
                    }
                }
            }

            &--otherinfo {
                p {
                    cursor: pointer;
                    color: $color-grey-medium-3;
                    font-size: 1.22rem;
                    transition: all .2s;

                    &:hover {
                        color: $color-black;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

///////////////////////////////////////
// ICONS

.icon {
    &__input {
        position: relative;
        margin-right: -2.7rem;
        /* width: 1.8rem;
        height: 1.8rem; */
        color: $color-grey-medium-2;
        font-size: 1.4rem;

        @include respond(tab-land) {
            margin-left: 1rem;
            z-index: 2;
        }

        @include respond(phone) {
            position: absolute;
            margin-left: -85%;
            margin-top: 1rem;
        }
    }

    &__plus {
        position: relative;
        margin-right: -3rem;
        color: $color-white;
        font-size: 1.3rem;

        @include respond(tab-land) {
            margin-right: -86%;
        }

        @include respond(phone) {
            position: absolute;
            margin-right: 30%;
            margin-top: 6rem;
        }
    }
}

///////////////////////////////////////
// SECTION INFO TITLES

.info-titles {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-grey-medium-3;

    &--opties {
        @include respond(tab-port) {
            display: none;
        }
    }

    &--edit {
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: $color-black;
            text-decoration: underline;
        }
    }
}