.container{
    border: 2px solid blueviolet;
    max-width: 148rem;
    margin: 1.5rem 1.5rem;
    min-height: 50rem;
}
.header {
    height: 100px;
    background: orangered;
}

.content {
    height: 100px;
    background: limegreen;
}