*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #e4e4e4;
  color: #010101;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.header__menu {
  color: #adacac;
}

.header__menu-bar {
  list-style: none;
  font-weight: bold;
}

.header__menu-bar-item {
  cursor: pointer;
}

.content__header-search--title {
  font-size: 2.7rem;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content__header-search input {
  width: 20rem;
  height: 3.5rem;
  margin-right: 4.5rem;
}

.content__header-search--input input {
  border: 1.5px solid #e8e8e8;
  border-radius: 2px;
  padding-left: 4rem;
}

.content__header-search--input ::-webkit-input-placeholder {
  color: #adacac;
  /* Firefox */
}

.content__header-search--input :-ms-input-placeholder {
  color: #adacac;
  /* Firefox */
}

.content__header-search--input ::-ms-input-placeholder {
  color: #adacac;
  /* Firefox */
}

.content__header-search--input ::placeholder {
  color: #adacac;
  /* Firefox */
}

.content__header-search--input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #adacac;
}

.content__header-search--input ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #adacac;
}

.content__header-search button {
  width: 15rem;
  height: 3.5rem;
  color: #ffffff;
  background: #4e4c4c;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 2.5rem;
}

.content__header-filter {
  font-size: 1.3rem;
}

.content__header-filter--type p {
  font-weight: bold;
}

.content__header-filter-table {
  list-style: none;
}

.content__header-filter-table--element {
  cursor: pointer;
  color: #969696;
}

.content__header-filter-active {
  color: #010101;
  font-weight: bold;
}

.content__dataview-relaties--table {
  font-size: 1.2rem;
  text-align: left;
}

.content__dataview-relaties--table,
.content__dataview-relaties--table th,
.content__dataview-relaties--table td {
  border-collapse: collapse;
}

.content__dataview-relaties--table th,
.content__dataview-relaties--table td {
  padding: 1rem 0 1rem 3rem;
}

.content__dataview-relaties--table tr:not(:last-child) {
  border-bottom: 1.5px solid #e8e8e8;
}

.content__dataview-relaties--table th {
  color: #969696;
  font-weight: normal;
}

.content__dataview-details--header h2 {
  font-size: 1.6rem;
}

.content__dataview-details--contact {
  padding: 0 3rem;
}

.content__dataview-details--contact--table {
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
}

.content__dataview-details--contact--table,
.content__dataview-details--contact--table th,
.content__dataview-details--contact--table td {
  border-collapse: collapse;
}

.content__dataview-details--contact--table th,
.content__dataview-details--contact--table td {
  padding: 1rem 1rem 0 0;
}

.content__dataview-details--contact--table th:first-child,
.content__dataview-details--contact--table td:first-child {
  width: 60%;
}

.content__dataview-details--contact--table th {
  color: #969696;
  font-weight: normal;
}

.content__dataview-details--contact--table td {
  font-size: 1.4rem;
  font-weight: bold;
}

.icon__input {
  position: relative;
  margin-right: -3rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: #adacac;
}

.icon__plus {
  position: relative;
  margin-right: -3.5rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 1;
}

.info-titles {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #969696;
}

.container {
  background: #ffffff;
  max-width: 150rem;
  margin: 1.5rem 1.5rem;
  min-height: 50rem;
}

.header {
  height: 8rem;
  font-size: 1.5rem;
  background: #4e4c4c;
  color: #ffffff;
  border-bottom: 0.5rem solid #c60813;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-left: 10rem;
}

.header__menu-bar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-bar-item:not(:last-child) {
  margin-right: 3rem;
}

.header__menu-bar .active {
  color: #ffffff;
}

.header__user {
  background: #c60813;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  margin: 0 10rem;
}

.content__header-search {
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__header-search--input {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__header-filter {
  border: 1.5px solid #e8e8e8;
  background: #f7f7f7;
  height: 5rem;
  margin-bottom: 3rem;
  padding: 0 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__header-filter--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__header-filter-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__header-filter-table--element {
  margin-left: 3rem;
  /* &:not(:last-child) {
                        margin-right: 3rem;
                    } */
}

.content__dataview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__dataview-relaties {
  border: 1.5px solid #e8e8e8;
  border-right: none;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 6rem;
}

.content__dataview-relaties--table {
  width: 100%;
}

.content__dataview-details {
  border: 1.5px solid #e8e8e8;
  width: 100%;
}

.content__dataview-details--header {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

.content__dataview-details--contact {
  height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__dataview-details--processes {
  background: blueviolet;
  height: 6rem;
}

.content__dataview-details--otherinfo {
  background: darkgoldenrod;
  height: 6rem;
}
/*# sourceMappingURL=style.css.map */